<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div class="navigation-bar container">
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>

    <header>
        <h1>Timofei Semenov</h1>
        <p><b><a href="https://github.com/XRay876/">My GitHub</a></b></p>
        <p class="subtitle">Web Programming and Design</p>
        
    </header>

    <div class="main-block">
        <img src="../img/avatar_site.jpg" alt="Photo of me">
        <p>I'm a student on a course Computer Programming and Analysis. I have a lot of expirience in coding, espesially in <strong>competitive programming (Python, C++) or web development (fullstack)</strong>, 
            as hobby. On my non-main GitHub account you can see some of my fullstack projects, mostly on Django for backend!</p>
        <blockquote><i>
            "Education is important, but big biceps is importanter!"
        </i></blockquote>
    </div>

    <footer>
        <p>&copy; 2024 Timofei Semenov</p>
    </footer>
    
</body>
</html>